@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="goHome()">
        <i class="el-icon-arrow-left"></i>
        零部件采购审批-{{nodeInfo.NodeName}}
    </div>
    <el-collapse v-model="activeNames">
        @*<el-collapse-item v-for="(d,i) in data" :name="i+1" :key="i">*@
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm"
                 id="uploadForm" enctype="multipart/form-data" style="margin-top:30px">
            <el-form-item label="标题">
                <el-input v-model="ruleForm.Title" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="申请人">
                <el-input v-model="ruleForm.ApplyMan" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="申请部门">
                <el-input v-model="ruleForm.Dept" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="项目名称">
                <el-input v-model="ruleForm.ProjectName" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="项目编号">
                <el-input v-model="ruleForm.ProjectId" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="ruleForm.Remark" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-button type="primary" v-on:click="StampAndGet">盖章并获取</el-button>
            <el-button type="primary" v-on:click="PrintExcel">打印EXCEL</el-button>
        </el-form>

        <el-table :data="data" border style="width: 100%;margin-bottom:30px">
            <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
            <el-table-column prop="Name" label="物料名称"></el-table-column>
            <el-table-column prop="Standard" label="规格型号"></el-table-column>
            <el-table-column prop="Price" label="预计单价"></el-table-column>
            <el-table-column prop="Unit" label="单位"></el-table-column>
            <el-table-column prop="Count" label="数量"></el-table-column>
            <el-table-column prop="UrgentDate" label="需用日期"></el-table-column>
            <el-table-column prop="SendPosition" label="送货地点"></el-table-column>
            <el-table-column prop="Purpose" label="用途"></el-table-column>
            <el-table-column prop="Mark" label="备注"></el-table-column>
            <el-table-column label="采购员" v-if="NodeId == 5">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.PurchaseManId" placeholder="请选择" v-on:change="choosePeople">
                        <el-option v-for="item in options"
                                   :key="item.emplId"
                                   :label="item.name"
                                   :value="item.emplId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
        </el-table>
        @*<el-table-column prop="Price" label="实际单价" v-if="NodeId == 2">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.Price"
                              :class="{ redborder:scope.row.Price == '' || scope.row.Price == null}"></el-input>
                </template>
            </el-table-column>*@

        @*</el-collapse-item>*@
    </el-collapse>

    <el-form :model="ruleForm2" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm2.Mark" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && ( state=='已撤回' || state=='被退回') ">
            <el-form-item>
                <el-button type="primary" v-on:click="reApproval" :disabled="disablePage">重新发起</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <ding :dinglist="dingList"></ding>
                <el-button type="warning" v-on:click="rebackSubmit" :disabled="disablePage">撤回</el-button>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    var allData = {}
    var state = ''
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        state = UrlObj.state
        Id = UrlObj.id
        Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                data: [],
                NodeId: NodeId,
                activeNames: [1, 2, 3, 4, 5, 6],
                index: Index,
                nodeList: [],
                nodeInfo: {},
                ruleForm: {},
                codesInfo: {},
                state: state,
                ruleForm2: {
                    Mark: ''
                },
                options: [],
                emplId: ''
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                var that = this
                let callBack = function () { }
                if (NodeId == '5') {
                    let url = '/Purchase/ModifyPurchaseTable'
                    that._postData(url, function (data) {
                        that.aggreSubmit({
                            "Id": that.ruleForm.Id,
                            "Remark": that.ruleForm2.Mark
                        })
                    }, that.data)
                }
                else {
                    this.aggreSubmit({
                        "Id": that.ruleForm.Id,
                        "Remark": that.ruleForm2.Mark
                    })
                }
            },
            choosePeople(chooseId, row) {
                console.log('change people~~~~~~~~~')
                for (let d of this.data) {
                    for (let o of this.options) {
                        if (d.PurchaseManId == o.emplId) {
                            d.PurchaseMan = o.name
                        }
                    }
                }
                this.setChooseMan()
            },
            setChooseMan() {
                var that = this
                if (this.nodeList && this.nodeList.length == 0) {
                    setTimeout(function () {
                        that.setChooseMan()
                        return
                    },100)
                }
                if (NodeId != 5) return
                var mans = []
                for (let d of this.data) {
                    mans.push({
                        name: d.PurchaseMan,
                        emplId: d.PurchaseManId
                    })
                }
                let hash = {}
                console.log('set change people before ~~~~~~~~~')
                console.log(mans)
                mans = mans.reduce((preVal, curVal) => {
                    hash[curVal.emplId] ? '' : hash[curVal.emplId] = true && preVal.push(curVal);
                    return preVal
                }, [])

                console.log(mans)
                var nodeId = NodeId + 2
                for (let node of that.nodeList) {
                    if (node.NodeId == nodeId) {
                        $("." + nodeId).remove()
                        node.AddPeople = mans
                        for (let d of mans) {
                            $("#" + nodeId).after('<span class="el-tag ' + nodeId + '" style="width: 60px; text-align: center; ">' + d.name.substring(0, 3) + '</span >')
                        }
                    }
                }
            },
            //退回审批
            returnBk() {
                let param = {
                    "Id": allData.Id,
                    "Remark": this.ruleForm2.Mark
                }
                this.returnSubmit(param)
            },
            //撤回审批
            rebackSubmit() {
                this.disablePage = true
                var param = {
                    "Id": allData.Id,
                    "NodeId": 0,
                    "Remark": this.ruleForm2.mark
                }
                this.returnSubmit(param)
            },
            StampAndGet() {
                this.stampAndGet()
            },
            PrintExcel() {
                var paramObj = {
                    UserId: DingData.userid,
                    TaskId: TaskId
                }
                var that = this
                this._getData("/Purchase/PrintExcel", function (data) {
                    var alertStr = '已推送至钉钉'
                    that.$alert(alertStr, '消息', {
                        confirmButtonText: '确定',
                        callback: action => {

                        }
                    });
                }, paramObj)
            },
            getBomInfo() {
                var that = this
                var param = {
                    TaskId: TaskId
                }
                var ifTrue = false
                for (let node of this.nodeList) {
                    if (node.NodeId == 7 && node.ApplyManId == DingData.userid) {
                        ifTrue = true
                    }
                }
                if (ifTrue) param.PurchaseManId = DingData.userid
                this._getData("Role/GetRoleInfo", function (data) {
                    console.log('获取采购员信息')
                    console.log(JSON.stringify(data))

                    that.options = data                

                    that._getData("/Purchase/ReadPurchaseTable", function (data) {
                        console.log('获取bom表')
                        if (NodeId == 5) {
                            for (let d of data) {
                                for (let o of that.options) {
                                    if (o.name == '巫仕座') {
                                        d['PurchaseMan'] = o.name
                                        d['PurchaseManId'] = o.emplId
                                    }
                                }
                            }
                        }
                        if (NodeId == 7 && Index == 0) {
                            let tmp = []
                            for (let d of data) {
                                if (d.PurchaseManId == DingData.userid) {
                                    tmp.push(d)
                                }
                            }
                            data = tmp
                        }
                        console.log(param)
                        console.log(data)
                        that.data = data
                        that.setChooseMan()
                    }, param)
                }, { RoleName: "采购员" })
            }
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            this.getBomInfo()
            this.GetDingList(TaskId)
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData()


    //获取审批表单信息
    function getFormData() {
        var url = "/FlowInfo/GetApproveInfo?TaskId=" + TaskId + "&ApplyManId=" + DingData.userid
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("获取审批表单信息ok")
                console.log(url)
                console.log(data)
                allData = data
                demo.ruleForm = data
            },
            error: function (err) {
                console.log(err);

            }
        })
    }

</script>



