@{
    Layout = null;
}

<!--右侧实体内容-->
<el-main id="partPage" style="position:relative;">
    <div class="head-fixed" onclick="goHome()">
        <i class="el-icon-arrow-left"></i>
        零部件采购审批-{{nodeInfo.NodeName}}
    </div>
    <el-collapse v-model="activeNames">
        @*<el-collapse-item v-for="(d,i) in dataList" :name="i+1" :key="i">*@
        <el-form :model="tableInfo" :rules="rules" ref="tableInfo" label-width="80px" class="demo-ruleForm"
                 id="uploadForm" enctype="multipart/form-data" style="margin-top:30px">
            <el-form-item label="标题">
                <el-input v-model="tableInfo.Title" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="申请人">
                <el-input v-model="tableInfo.ApplyMan" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="申请部门">
                <el-input v-model="tableInfo.Dept" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="项目名称">
                <el-input v-model="tableInfo.ProjectName" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="项目编号">
                <el-input v-model="tableInfo.ProjectId" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="tableInfo.Remark" :disabled="true" style="width:80%"></el-input>
            </el-form-item>
            <el-button type="primary" v-on:click="stampAndGet">盖章并获取</el-button>
        </el-form>

        <el-table :data="dataList" border style="width: 100%;margin-bottom:30px">
            <el-table-column prop="CodeNo" label="物料编码"></el-table-column>
            <el-table-column prop="Name" label="物料名称"></el-table-column>
            <el-table-column prop="Standard" label="规格型号"></el-table-column>
            <el-table-column prop="Unit" label="单位"></el-table-column>
            <el-table-column prop="Count" label="数量"></el-table-column>
            <el-table-column label="采购员" v-if="NodeId == 4">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.PurchaseManId" placeholder="请选择" v-on:change="choosePeople">
                        <el-option v-for="item in options"
                                   :key="item.emplId"
                                   :label="item.name"
                                   :value="item.emplId">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
        </el-table>
        @*<el-table-column prop="Price" label="实际单价" v-if="NodeId == 2">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.Price"
                              :class="{ redborder:scope.row.Price == '' || scope.row.Price == null}"></el-input>
                </template>
            </el-table-column>*@

        @*</el-collapse-item>*@
    </el-collapse>

    <el-form :model="ruleForm" :rules="rules" :inline="true" ref="ruleForm" label-width="120px" class="demo-ruleForm">
        <!--添加审批人-->
        <sam-approver-list :nodeList="nodeList" :single="true" :nodedata="nodeInfo"></sam-approver-list>
        <template v-if="index==0">
            <el-form-item label="审批意见" prop="mark">
                <el-input v-model="ruleForm.Mark" style="width:400px;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSubmit" :disabled="disablePage">同意</el-button>
                <el-button v-if="nodeInfo.IsBack" type="warning" v-on:click="returnBk" :disabled="disablePage">退回</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='已撤回'">
            <el-form-item>
                <el-button type="primary" v-on:click="reApproval" :disabled="disablePage">重新发起</el-button>
            </el-form-item>
        </template>
        <template v-if="index==2 && state=='未完成'">
            <el-form-item>
                <ding :dinglist="dingList"></ding>
            </el-form-item>
        </template>
    </el-form>
</el-main>

<script>
    var allData = {}
    if (UrlObj.flowid) {
        FlowId = UrlObj.flowid
        NodeId = UrlObj.nodeid
        TaskId = UrlObj.taskid
        Id = UrlObj.id
        var Index = UrlObj.index
    }
    var demo = new Vue({
        el: "#partPage",
        mixins: [mixin],
        data: function () {
            return {
                dataList: [],
                NodeId: NodeId,
                activeNames: [1, 2, 3, 4, 5, 6],
                index: Index,
                nodeList: [],
                nodeInfo: {},
                tableInfo: {},
                codesInfo: {},
                ruleForm: {
                    Mark: ''
                },
                options: [],
                emplId: ''
            }
        },
        methods: {
            onSubmit(formName) {
                console.log('submit!')
                var that = this
                let callBack = function () { }
                if (NodeId == '4') {
                    let url = '/Purchase/ModifyPurchaseTable'
                    that._postData(url, function (data) {
                        that.aggreSubmit({
                            "Id": that.tableInfo.Id,
                            "Remark": that.ruleForm.Mark
                        })
                    }, that.dataList)
                }
                else {
                    this.aggreSubmit({
                        "Id": that.tableInfo.Id,
                        "Remark": that.ruleForm.Mark
                    })
                }
            },
            choosePeople(chooseId,row) {
                console.log('change people~~~~~~~~~')
                for (let d of this.dataList) {
                    for (let o of this.options) {
                        if (d.PurchaseManId == o.emplId) {
                            d.PurchaseMan = o.name
                        }
                    }
                }
                this.setChooseMan()
            },
            setChooseMan() {
                var that = this
                if (NodeId != 4) return
                var mans = []
                for (let d of this.dataList) {
                    mans.push({
                        name: d.PurchaseMan,
                        emplId: d.PurchaseManId
                    })
                }
                let hash = {}
                console.log('set change people before ~~~~~~~~~')
                console.log(mans)
                mans = mans.reduce((preVal, curVal) => {
                    hash[curVal.emplId] ? '' : hash[curVal.emplId] = true && preVal.push(curVal);
                    return preVal
                }, [])

                console.log(mans)
                var nodeId = NodeId + 1
                for (let node of that.nodeList) {
                    if (node.NodeId == nodeId) {
                        $("." + nodeId).remove()
                        node.AddPeople = mans
                        for (let d of mans) {
                            $("#" + nodeId).after('<span class="el-tag ' + nodeId + '" style="width: 60px; text-align: center; ">' + d.name.substring(0, 3) + '</span >')
                        }
                    }
                }
            },
            returnBk() {
                let param = {
                    "Id": allData.Id,
                    "Remark": this.ruleForm.Mark
                }
                this.returnSubmit(param)
            },
            getBomInfo() {
                var that = this
                var param = {
                    TaskId: TaskId
                }
                var ifTrue = false
                for (let node of this.nodeList) {
                    if (node.NodeId == 5 && node.ApplyManId == DingData.userid) {
                        ifTrue = true
                    }
                }
                if (ifTrue) param.PurchaseManId = DingData.userid
                this._getData("Role/GetRoleInfo", function (data) {
                    console.log('获取采购员信息')
                    console.log(JSON.stringify(data))
                    that.options = data

                    that._getData("/Purchase/ReadPurchaseTable", function (data) {
                        console.log('获取bom表')
                        for (let d of data) {
                            d['PurchaseMan'] = that.options[0].name
                            d['PurchaseManId'] = that.options[0].emplId
                        }
                        console.log(param)
                        console.log(data)
                        that.dataList = data
                        that.setChooseMan()
                    }, param)

                }, { RoleName: "采购员" })
            },
            stampAndGet() {
                var paramObj = {
                    UserId: DingData.userid,
                    TaskId: TaskId
                }
                var that = this
                this._postData("/Purchase/PrintAndSend", function (data) {
                    var alertStr = ''
                    data.errorMessage ? alertStr = data.errorMessage : alertStr = data.errmsg
                    that.$alert(alertStr, '消息', {
                        confirmButtonText: '确定',
                        callback: action => {

                        }
                    });
                }, paramObj)
            },
        },
        created: function () {
            this.getNodeInfo()
            this.getApproInfo()
            this.getBomInfo()
            this.GetDingList(TaskId)
            loadHtml("mainPage", "partPage")
        }
    })
    getFormData()


    //获取审批表单信息
    function getFormData() {
        var url = "/FlowInfo/GetApproveInfo?TaskId=" + TaskId + "&ApplyManId=" + DingData.userid
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("获取审批表单信息ok")
                console.log(url)
                console.log(data)
                //allData = data
                demo.tableInfo = data
            },
            error: function (err) {
                console.log(err);

            }
        })
    }

</script>



